body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

/* ^^^^^^^^^^^ GENERAL ^^^^^^^^^^^ */

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav .buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 4px;
}

nav .logout {
  background-color: brown;
  align-self: flex-end;
  padding: 4px;
  border-radius: 6px;
}

nav a:link {
  color: rgb(255, 255, 255);
}

nav a:hover {
  color: rgb(255, 0, 0);
}

nav a:visited {
  color: rgb(255, 255, 255);
}

nav a:visited:hover {
  color: rgb(255, 0, 0);
}

/* ^^^^^^^^^^^ NAVBAR ^^^^^^^^^^^ */

.auth label {
  display: block;
}

.auth form div {
  margin: 1em;
  display: inline-block;
}

/* ^^^^^^^^^^^ Login/SignUp Form ^^^^^^^^^^^ */

.charSelect h3 {
  text-align: center;
}

.charSelect #chars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
}

#newChar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(46, 44, 44);
  width: 300px;
  height: 600px;
  line-height: 600px;
}

/* ^^^^^^^^^^^ Character Select ^^^^^^^^^^^ */

.charCreate label {
  display: block;
}

.charCreate form .bio {
  margin: 1em;
  display: inline-block;
}

.charCreate form .stat {
  margin: 1em;
  display: block;
}

/* ^^^^^^^^^^^ Character Create ^^^^^^^^^^^ */

.charContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(46, 44, 44);
  width: 300px;
  height: 600px;
}

.charContainer ul {
  flex: 0;
  list-style: none;
  padding-left: 0;
}

/* ^^^^^^^^^^^ Character ^^^^^^^^^^^ */

.monsterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(46, 44, 44);
  width: 300px;
  height: 600px;
}

.monsterContainer ul {
  flex: 0;
  list-style: none;
  padding-left: 0;
}

/* ^^^^^^^^^^^ Monster ^^^^^^^^^^^ */

.battleScreen h3 {
  text-align: center;
}

.battleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.battleContainer button {
  height: 50px;
}

/* ^^^^^^^^^^^ Battle Screen ^^^^^^^^^^^ */
